#sheets h2 { width: 100% }
#sheets > article {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 24px;
  position: relative;
}

.sheet, .preview {
  background-color: #000;
}

.sheet {
  width: 328px;
  border: solid;
  overflow: hidden;
}

.sheet .previews {
  flex-shrink: 0;
  display: flex;
  align-items: end;
}

.sheet .slider {
  display: flex;
  margin-bottom: 2px;
  user-drag: none;
}

.sheet .slider.smooth {
  transition: transform 200ms cubic-bezier(.23,1,.32,1);
}

.sheet .slider div,
.sheet .preview,
#sheets .bottom-bar .image {
  background-size: cover;
  background-position: center;
  filter: saturate(1.3);
}

.sheet .slider div {
  flex-shrink: 0;
  width: 100%;
  padding-top: calc(min(100%, 328px));
  box-shadow: black 0 0 0 1px inset;
}

.sheet:active,
.sheet:focus-within {
  box-shadow: 7px 7px 0 0 #0008;
  outline: 3px solid #64e2fa;
}

.sheet input[type="radio"] {
  opacity: 0;
  position: fixed;
}

.sheet label {
  height: 46px;
  width: 100%;
}

.sheet input[type="radio"]:not(:checked) + .preview { opacity: 0.66 }
.sheet input[type="radio"]:not(:checked) + .preview:active { opacity: 0.33 }
.sheet .preview {
  width: 100%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

#sheets .bottom-bar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  bottom: 0;
  background-image: linear-gradient(transparent 0%, #fe8 40%);
  height: 220px;
  display: flex;
  align-items: flex-end;
  padding: 20px calc(min(140px, 10%));
  justify-content: space-between;
}

#sheets .bottom-bar .image {
  height: 140px;
  width: 140px;
  box-shadow: 7px 7px 0 0 #0008, black 0 0 0 2px inset;
  outline: 3px solid #64e2fa;
  background-color: #000;
}

#sheets article {
  margin-right: calc(min(140px, 10%) - 24px);
}

@media screen and (max-width: 1320px) {
  .sheet { width: calc(33.333% - 24px) }
}

@media screen and (max-width: 900px) {
  .sheet { width: calc(50% - 24px) }
}

@media screen and (max-width: 600px) {
  #sheets article { margin-right: calc(min(140px, 10%)) }
  .sheet { width: 100% }
}
